@import './components/mode'

:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition: background 300ms ease, color 300ms ease
  @include theme

a
  font-weight: 500
  @include inherit
  text-decoration: inherit
  &:hover  
    transition: color 300ms ease
    color: var(--bg-color)

body, #root
  @include reset
  min-width: 320px
  min-height: 100vh
  
body
  animation: showed_up 300ms linear
  box-sizing: border-box

@keyframes showed_up
  0%
    opacity: 0.7
  100%
    opacity: 1
    
button
  border-radius: 8px
  border: 0
  padding: 0.6em 1.2em
  font-size: 1em
  font-weight: 500
  cursor: pointer
  box-shadow: 0 0 0 1px var(--txt-color)
  @include inherit
  @include main
  
